/* main {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: auto;
    align-items: center;
  } */


