

h1{
  text-align: center;
  background-color: #008055;
  margin: -10px -10px auto;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 15px;


}
#word{
width: 48px;
height: 38px;
font-style: normal;
font-weight: bold;
font-size: 32px;
}

#text-submit{
  width: 170px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
  color: #434A54;}

  #search{
    width: 100px;
    height: 30px;
    border: 1px solid #CCD0D9;
    box-sizing: border-box;
    border-radius: 6px;
  }

#reset{
  width: 100px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
}

#expand{
  width: 100px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
} 

#banner{
  display: flex;
  justify-content: space-around;
  background-color: palegoldenrod;
  margin: 0 auto;
}

#phonetic{
  padding: 0x 0px 0px 0px
}

body{
  background-color:rgb(185, 181, 181);
}

.ant-css{
  padding: 0px 0px 0px 20px
}

.syn-css{
  padding: 0px 0px 0px 20px
}

.ex-css{
  padding: 0px 0px 0px 20px
}

