body{
    font-family: 'Roboto';
  }
  
  h1{
    text-align: center;
    background-color: #008055;
    margin: -10px -10px auto;
  }
  
  h2{
    font-size: 20px;
  }
  
  #banner{
    margin: 0px -10px auto;
    display: flex;
    justify-content: space-around;
    background-color: palegoldenrod;
  }