body{
  font-family: 'Roboto';
}

h1{
  text-align: center;
  background-color: #008055;
  margin: -10px -10px auto;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 14px;
  font-style: italic;
  margin: -10px 0px 25px 0px
}

#learn-rand-title{
  text-align: center;
}

#word{
  width: 48px;
  height: 10px;
  font-weight: bold;
  font-size: 32px;
}

#random-word{
  text-align: center;
  height: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}

#text-submit{
  width: 170px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
  color: #434A54;
}

#search{
  width: 100px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
}

#reset{
  width: 100px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
}

#expand{
  width: 100px;
  height: 30px;
  border: 1px solid #CCD0D9;
  box-sizing: border-box;
  border-radius: 6px;
} 

#banner{
  margin: 0px -10px auto;
  display: flex;
  justify-content: space-around;
  background-color: palegoldenrod;
}

.ant-css{
  padding: 0px 0px 0px 20px
}

.syn-css{
  padding: 0px 0px 0px 20px
}

.ex-css{
  padding: 0px 0px 0px 20px
}

#random-container{
  display: flex;
  justify-content: center;
}

#random-word-box{
  border: 2px solid black;
  border-radius: 12px;
  width: 2000px;
  text-align: center;
  background-color: rgb(182, 181, 181);
  margin: 0px -20px 0px -20px;
  padding: 0px 0px 20px 0px;
}

#pronounce{
  width: 300px;
}

#word-search{
  text-align: center;
  border: 2px solid black;
  background-color: rgb(182, 181, 181);
  border-radius: 12px;
  margin: 0px -20px 0px -20px;
  padding: 0px 0px 20px 0px
}

.uniform{
  background-color: #31d49e;
}